body {
    text-align: center;
    background-color: aliceblue;
}

.container2 {

    width: fit-content;
    text-align: center;
    background: rgb(255, 241, 164);
    padding-inline: 100px;
    padding-bottom: 70px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    margin: auto;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


