body {
    text-align: center;
}

.container {

    width: fit-content;
    text-align: center;
    background: rgb(255, 234, 220);
    padding-inline: 100px;
    padding-bottom: 70px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    margin: auto;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {

    background-color: rgba(255, 118, 118, 0.795);

}
